@import "patricia_mixins";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400&family=Source+Sans+Pro:wght@300;400;700&display=swap');


// @font-face{
// 	font-family:"Circular";
// 	src:url("../../public/fonts/circular/circular-black.woff2") format('woff2'),
// 	url("../../public/fonts/circular/circular-black.woff") format('woff');
// 	font-weight:900;
// 	font-style:normal;
// 	}
/* responsive container */
.section_container, .footer_container, .main_container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.7;
    // color:#fff;
    margin: 0;
    padding: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
    background: #ffffff;
}
 p, h4,h5,h6{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
h1,h2,h3{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
@media (min-width: 576px){
    .section_container ,.footer_container{
        max-width: 540px;
    }
}
@media (min-width: 768px){
    .section_container {
        max-width: 720px;
    }
    .footer_container, .main_container{
        max-width: 740px;
    }
}
@media (min-width: 868px){
    .footer_container, .main_container{
        max-width: 840px;
    }
}
@media (min-width: 991px){
    .section_container, .footer_container, .main_container {
        max-width: 960px;
    }
}
@media (min-width: 1200px){
    .footer_container, .main_container {
        max-width: 1140px;
    }
    .section_container{
        max-width: 1065px;
}
.container_pad{
    padding: 0px 80px;
}
}
@media (min-width: 1360px){
.footer_container, .main_container {
    max-width: 1265px;
}

}
@media (min-width: 1600px){


    
.section_container  {
    max-width: 1250px;
}
.footer_container, .main_container  {
    max-width: 1400px;
}
}
@media (min-width: 1800px){

    .main-container  {
        max-width: 1700px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.align-center{
    align-content: center;
}
.text-center{
    text-align: center;
}
/* main grid */
.grid{
    display: -moz-grid;
    display: grid;
}
    /* main flex */
.flex{
    display: -webkit-flex;
    display: flex;
    display: -ms-flexbox; /* IE10 */

}
.wrap{
    -webkit-flex-wrap:wrap;
    flex-wrap: wrap;
}
  
* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
html {
    scroll-behavior: smooth;
  }
a,
a:hover {
    text-decoration: none;
} 

.profile-container{
    background: #F9FAFC;
    padding-left: 12px;
    padding-right: 12px;
    height: 56px;
    @include border-radius (8px);
    &__user{
        background: #FFFFFF;
        @include border-radius (8px);
        padding: 4px; 
        img{
            @include border-radius (8px); 
        }
    }
}
.nav-container {
    justify-content: flex-end;
    position: absolute;
    right:0;
    padding-right: 32px;
    padding-left: 32px;
    padding-top: 40px;
}
.dashboard-container{
    grid-template-columns: 217px 1fr;
    min-height: 100vh;
    &__main{
        padding: 0 32px;
        column-gap: 48px;
        row-gap: 48px;
    }
    
}
.page{
    &-main-content{
        flex-basis: 600px;
        flex-basis: 550px;
        flex-basis: 510px;
        flex-grow: 1;
        margin: 24px 0;
        position: relative;
        &:before{
            position: absolute;
            content: "";
            height: calc(100% - 48px);
            width: 100%;
            right:-23.5px;
            top:24px;
            z-index: -1;
            @include border-right(1px solid #EFF2F7);
        }
        &__header{
            h4{
                font-style: normal;
                font-weight: normal;
                font-size: 32px;
                line-height: 42px;
                color: #444854; 
                padding-top: 18px;
            }
        }
        &__title{
            column-gap: 16px;
            row-gap: 8px;
            margin-top: 8px;
            svg{
               flex-basis: 40px; 
            }
            h5{
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 28px;
                color: #444854;
                svg{
                    margin-left: 10px;
                }
            }
            p{
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 24px;
                color: #9DA8B6; 
            }
        }
    }
    &-side-content{
        flex-grow: 1;
        flex-basis: 380px;
        flex-basis: 295px;
        flex-basis: 230px;
        margin: 24px 0;
        margin-top: 168px;

    }
}
.balance{
    background: #006156;
    @include border-radius (24px); 
    margin-top: 26px;
    margin-bottom: 40px;
    position: relative;
    max-width: 684px;
    &:before{
        position: absolute;
        position: absolute;
        content:"";
        left:14px;
        bottom:-8px;
        z-index: -1;
        background: #F9FAFC;
        @include border-radius (24px); 
        height: 100%;
        width: calc(100% - 28px);
    }
    &:after{
        position: absolute;
        position: absolute;
        content:"";
        left:26px;
        bottom:-16px;
        z-index: -2;
        background: #E5E9F2;
        @include border-radius (24px); 
        height: 100%;
        width: calc(100% - 52px);
    }
    &__amount{
        flex-basis: 270px;
        flex-grow: 1;
        position: relative;
        padding: 16px;
        z-index: 1;
        &:before{
            position: absolute;
            content:"";
            left:0;
            top:0;
            background:url("../../public/images/balance_bg.svg") no-repeat ;
            background-position: center;
            background-size: cover;
            height: 100%;
            width: 100%;
            z-index: -1;
            @include border-radius (24px 0 0 24px); 
            @include filter(opacity(0.3));

        }
        &:after{
            position: absolute;
            content:"";
            right:0;
            top:24px;
            height: calc(100% - 48px);
            width: 100%;
            @include border-right(1px solid #388379);
        }
        h6{
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
            color: #63BDAF; 
        }
        &__amount{
            font-style: normal;
            font-weight: normal;
            font-size: 32px;
            line-height: 42px;
            color: #FFFFFF; 
        }
        &__booked{
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
            color: #C8E2DE; 
            margin-top: 8px;
        }
    }
    &__chart{
        padding: 16px;
        flex-basis: 374px;
        flex-grow: 1;
        // width: 100%;
        &__buttons{
            margin-bottom: 10px;
            label{
                position: relative;
                cursor: pointer;

                input{
                    position: absolute;
                    left: -2000px;
                    opacity: 0;
                }
                span{
                    display: inline-block;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 16px;
                    color: #44A798; 
                    padding: 2px 8px;
                    @include transition (all 0.3s);
                }
            }
            &--active{
                span{
                    @include transition (all 0.3s);
                    color: #FFFFFF !important; 
                    background: #63BDAF;
                    @include border-radius (100px);
                }
            }
        }
        .line-chart{
            min-height: 112px;
        }
        .balance__inflow{
            flex-basis: 46px;
            column-gap: 10px;
            row-gap: 16px;
            h5{
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 20px;
                color: #63BDAF; 
            }
            p{
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                line-height: 20px;
                color: #C8E2DE; 
            }
        }
    }
}

// deposit tabs 
.deposit-tab{
    background: #FFFFFF;
    @include border (1px solid #EFF2F7);
    @include border-radius (24px); 
    z-index: 0;
    position: relative;
    // max-width: 428px;
    &__header{
        background: #EFF2F7;
        @include border-radius (24px 24px 0 0); 
    } 
    &__title{
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        color: #9DA8B6;
        flex-grow: 1;
        cursor: pointer;
        padding: 24px 8px;
        &:last-of-type{
            @include border-radius (0 24px 0 0); 
        }
        &:first-of-type{
            @include border-radius (24px 0 0 0); 
        }
        &.react-tabs__tab--selected{
            color: #006156;
            background: white;

        }
    }
    &__content{
        padding: 0 24px;
        margin-bottom: 32px;
        margin-top: 32px;
        h4{
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 30px;
            text-align: center;
            color: #444854; 
            max-width: 237px;
            margin: auto;
            margin-bottom: 32px;
        }
        &__container{
            grid-template-columns: repeat(auto-fit, minmax( 300px, 1fr) );
            column-gap: 24px;
            row-gap: 24px;

        }
        &__link{
            background: #FFFFFF;
            @include border (1px solid #F9FAFC);
            @include border-radius (24px); 
            @include transition(all 0.3s);
            padding: 30px;
            position: relative;
            &:hover{
                @include transition(all 0.3s);
                p{
                    color: #388379;
                }
                svg.forward path{
                    @include transition(all 0.3s);
                    fill:#388379;
                }
            }
            &--active{
                background: #DEF5F2;
                border-radius: 24px;
                &:before, &:after{
                    background: none !important;
                }
                .svg-icon{
                    background: white;
                    padding: 9px;
                    @include border-radius (10px);
                }
                p{
                    color:#006156 !important;
                    font-weight: bold !important;
                }
                .forward path{
                    fill:#63BDAF;
                }
                &:hover{
                    @include transition(all 0.3s);
                    p{
                        color:#006156;
                        font-weight: bold;
                    }
                    svg.forward path{
                        fill:#63BDAF;
                    }
                }
            }
            svg path{
                @include transition(all 0.3s);

            }
         
        
            p{
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 28px;
                color: #444854;
                padding-left: 19px;
            }
            &:before{
                position: absolute;
                content:"";
                left:8px;
                bottom:-4px;
                z-index: -1;
                background: #F9FAFC;
                @include border-radius (24px); 
                height: 100%;
                width: calc(100% - 16px);
            }
            &:after{
                position: absolute;
                position: absolute;
                content:"";
                left:19px;
                bottom:-8px;
                z-index: -2;
                background: #E5E9F2;
                @include border-radius (24px); 
                height: 100%;
                width: calc(100% - 38px);
            }
        }
        &__more{
            font-style: normal;
            font-weight: bold;
            font-size: 14px !important;
            line-height: 24px !important;
            max-width: 173px;
            color: #006156; 
        }
    }
}

// request money section 
.request-money{
    column-gap: 24px;
    row-gap: 15px;
    margin-bottom: 15px;
    margin-bottom: 20px;
    &__link{
        background: #FFFFFF;
        @include border (1px solid #EFF2F7);
        @include border-radius (24px); 
        @include transition(all 0.3s);
        padding: 30px;
        position: relative;
        flex-grow: 1;
        flex-basis: 300px;
        svg path{
            @include transition(all 0.3s);

        }
     
    
        p{
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 28px;
            color: #444854;
            padding-left: 19px;
        }
        &:hover{
            @include transition(all 0.3s);
            @include border(1px solid transparent);
            @include filter(drop-shadow(0px 4px 36px rgba(0, 0, 0, 0.05)));
            p{
                color: #388379;
            }
            svg.forward path{
                @include transition(all 0.3s);
                fill:#44A798;
            }
        }
    }
}
// recent activities 
.activity{
    background: #FFFFFF;
    @include border (1px solid #EFF2F7);
    @include border-radius (24px); 
    padding: 24px;
    &__header{
        p{
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 24px;
            color: #9DA8B6;  
        }
        margin-bottom: 24px;
    }
    &__download{
        margin-left: 8px;
        button{
            background: none;
            @include border(none);
            &:focus{
            @include border(none);
            @include outline(none);
            @include box-shadow(none);
            }
        }
    }
    &__date{

        label{
            position: relative;
            min-width: 115px;
            padding-left: 32px;
            z-index: 1;
            &:after{
                position: absolute;
                content:"";
                width:100%;
                background: #F9FAFC;
                height: 100%;
                z-index: -1;
                left:0;
                top:0;
                @include border-radius (8px 0 0 8px);
            }
            span{
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                line-height: 20px;
                color: #9DA8B6; 
            }
        }
        input{
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 20px;
            color: #9DA8B6;
            @include border(none);
            background: #F9FAFC;
            @include border-radius (0 8px 8px 0);

            &:focus{
            @include border(none);
            @include outline(none);
            @include box-shadow(none);
                
            }

            &::-webkit-calendar-picker-indicator { 
                position: absolute;
                left: -15px; 
                background: url("../../public/images/date_picker.svg")  0% 50% no-repeat ;
                cursor: pointer;
            }
            &::-webkit-datetime-edit { 
                position: relative; 
                left: 0; 
            }
            
            &::-webkit-datetime-edit-fields-wrapper { 
                position: relative; 
                left: 0; 
            }
        }
    }
    &__items{
        grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
        grid-template-columns: 185px 1fr 1fr 1fr;
        column-gap: 22px;
        column-gap: 15px;
        row-gap: 15px;
        background: #fff;
        margin-bottom: 24px;
        padding: 4px 0;
        @include transition(all 0.3s);
        &:hover{
            @include transition(all 0.3s);
            @include box-shadow (0px 4px 36px rgba(0, 0, 0, 0.05));
            @include border-radius (8px); 
            .activity__amount{
                .amount{
                    @include transition(all 0.3s);
                    color: #575A65;
                }
            }
        }
        &:last-of-type{
            margin-bottom: 0;
        }
    }
    &__name{
        column-gap: 20px;
        .img{
            flex-basis: 40px;
        }
        p{
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 24px;
            color: #575A65; 
            text-align: right;
            padding-top: 4px;
            padding-bottom: 4px;
        }
    }
    &__amount{
       p{
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 24px;
        color: #9DA8B6;
        text-align: right;
        @include transition(all 0.3s);
       } 
    }
    &__status{
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 24px;
        text-align: right;
        &--success{
            color: #44A798; 
        } 
        &--failed{
            color: #CC4945;
        }
        &--pending{
            color: #FFCE00;
        }
    }

}

// cards page 
.page-main-content{
    .underline{
     @include border(1px solid #EFF2F7);
     margin: 35px 0 35px -32px;
     }
     &__btn{
         margin-top: 19px;
         a{
             margin-right: 16px;
             @include transition(all 0.3s);
             position: relative;
             left:0;
            
             &:hover{
                 @include transition(all 0.3s);
                 left:- 3px;
             }
             &:focus{
                 @include border(none);
                 @include outline(none);
                 @include box-shadow(none);
             }
         }
         h4{
             font-style: normal;
             font-weight: 600;
             font-size: 32px;
             line-height: 42px;
             color: #9DA8B6;
         }
     }
 }
 // side content 
 .card-page-side{
     background: #F9FAFC;
     padding-left: 24px;
     padding-right: 32px;
     flex-basis: 287px;
     flex-grow: 1;
     .page-side-content{
         background: white;
 
     }
     .card-activity{
        background: #FFFFFF;
        @include border (1px solid #EFF2F7);
        @include border-radius (24px); 
        padding: 24px;
        &__header{
            p{
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 24px;
                color: #9DA8B6;  
            }
            margin-bottom: 24px;
        }
        &__download{
            margin-left: 8px;
            button{
                background: none;
                @include border(none);
                &:focus{
                @include border(none);
                @include outline(none);
                @include box-shadow(none);
                }
            }
        }
        &__date{
    
            label{
                position: relative;
                min-width: 115px;
                padding-left: 32px;
                z-index: 1;
                &:after{
                    position: absolute;
                    content:"";
                    width:100%;
                    background: #F9FAFC;
                    height: 100%;
                    z-index: -1;
                    left:0;
                    top:0;
                    @include border-radius (8px 0 0 8px);
                }
                span{
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 20px;
                    color: #9DA8B6;
                }
            }
            input{
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 20px;
                color: #9DA8B6;
                @include border(none);
                background: #F9FAFC;
                @include border-radius (0 8px 8px 0);
    
                &:focus{
                @include border(none);
                @include outline(none);
                @include box-shadow(none);
                    
                }
    
                &::-webkit-calendar-picker-indicator { 
                    position: absolute;
                    left: -15px; 
                    background: url("../../public/images/date_picker.svg")  0% 50% no-repeat ;
                    cursor: pointer;
                }
                &::-webkit-datetime-edit { 
                    position: relative; 
                    left: 0; 
                }
                
                &::-webkit-datetime-edit-fields-wrapper { 
                    position: relative; 
                    left: 0; 
                }
            }
        }
        &__items{
            background: #fff;
            margin-bottom: 32px;
            padding: 4px 0;
            @include transition(all 0.3s);
            &:hover{
                @include transition(all 0.3s);
                // @include box-shadow (0px 4px 36px rgba(0, 0, 0, 0.05));
                @include border-radius (8px); 
            }
        }
        &__amount{
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 24px;
            color: #9DA8B6; 
        }
        &__name{
            p{
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 14px;
                color: #575A65; 
                padding: 0;
                margin: 0;
            }
            .time{
                padding: 0;
                margin: 0;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 12px;
                color: #9DA8B6; 
                display: inline-block;

            }
            .img{
                margin-right: 16px;
            }
        }
     }
 }
 .dashboard-container{
     &__cards{
         padding-right: 0;
         column-gap: 0;
     }
 }
 .virtual-card{
     padding-right: 32px;
     &__create{
         margin-top: 49px;
         margin-bottom: 27px;
         button{
             cursor: pointer;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 28px;
            color: #1D1E2C; 
            background: #FFCE00;
            @include border-radius ( 8px);
            padding:4px 24px;
            max-height: 40px; 
            margin-top: 2px;
            margin-bottom: 2px;
            @include border(1px solid #FFCE00);
            @include transition(all 0.3s);
            &:hover{
                background: hsl(48, 100%, 80%);
                @include transition(all 0.3s);

            }
            &:focus{
                background: hsl(48, 90%, 60%);
                @include transition(all 0.3s);
                @include box-shadow(none);
                @include outline(none);
            }
         }
         p{
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 28px;
            color: #444854;  
         }
         span{
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 24px;
            color: #9DA8B6; 
         }
     }
 }

// mobile menu 
.close-overlay, .mobile-menu{display:none}

// media query 
@media only screen and (min-width:1340px){
    .balance{
        max-width: auto;
    }
}
@media only screen and (max-width:1310px){
    .balance{
        max-width: 550px;
    }
}
@media only screen and (max-width:1188px){
    .page-main-content:before{
        height: auto;
        @include border(none);
        right: auto; 
    }
    .balance{
        max-width: 684px;
        width: 100%;
    }
    .dashboard-container__main {
        padding: 0 32px;
        -moz-column-gap: 48px;
        column-gap: 48px;
        row-gap: 24px;
    }
    .page-main-content{margin-bottom: 0;}
    .page-side-content{margin-top: 0px;}
}

@media only screen and (max-width:1024px){
    .activity{
        &__items{
            @include border(1px solid hsl(218, 33%, 96%));
            @include border-radius (10px);
            padding: 6px;
            row-gap: 0px;
            grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
        }
    }
}
@media only screen and (max-width:991px){
    .activity{
        padding: 14px;

        &__items{
            column-gap: 10px;

        }
        &__name{
            row-gap: 4px;
            p{
                text-align: left;
                padding: 0;
            }
        }
        &__amount p,&__status{
            // text-align: left;
            // text-align: center;
            display: flex;
            justify-self: baseline;
        }
    }
    .nav-container {
        justify-content: space-between;
        position: -webkit-sticky;
        position: sticky;
        right:auto;
        top:0;
        // padding-right: 32px;
        padding: 15px 20px;
        z-index: 99;
        background: white;
    }
    .mobile-menu{
        display: -webkit-flex;
        display: flex;
        button{
            margin-right: 20px;
        }
    }
    body{
        position: relative;
    }
    .close-overlay.overlay-button{
        display: block;
        position: absolute;
        left:0;
        top:0;
        width: 100%;
        height: 200%;
        background: hsla(173, 40%, 19%, 0.5);
        z-index: 100;
    }
    .dashboard-container {
        grid-template-columns: 1fr;
    }
}
@media only screen and (max-width:767px){
    .request-money{
        margin: auto;
        max-width: calc(100vw - 40px);
        overflow-y: hidden;
        overflow-x: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar{display: none;}
    }
    .activity{
        margin-top: 20px;
    }
}
@media only screen and (max-width:500px){
    .balance__chart {
        flex-basis: 270px;
    }
    .dashboard-container{
        &__main {
            padding: 0 20px;
        }
    }
    .page-main-content{
        margin-top: 0;
        &__header h4 {
            font-size: 28px;
            line-height: 36px;
        }
    }
}
@media only screen and (max-width:420px){
    .balance{
       
        &__chart{
            &__container{
                flex-wrap: wrap;
                -ms-flex-wrap: wrap;
            }
            .line-chart {
                min-height: 112px;
                max-width: calc(100vw - 72px);
            }
        }
        &__inflow{
            padding-top: 4px;
            flex-grow: 1;
        }
    }
}
@media only screen and (max-width:375px){
    .balance{
        &__chart__container{
            flex-wrap: wrap;
            -ms-flex-wrap: wrap;
        }
    }
    .deposit-tab{
        &__title{
            padding: 14px 8px;
        }
        &__content {
            padding: 32px 10px;
            &__container {
                grid-template-columns: repeat(auto-fit, minmax(209px, 1fr));
            }
            &__link{
                padding: 30px 15px;
            }
        }
    }
   
    .activity{
        &__items{
            column-gap: 15px;

        }
        &__name{
            row-gap: 4px;
            p{
               font-size: 13px;
               line-height: 18px;
            }
        }
        &__amount p,&__status{
            font-size: 13px;
            line-height: 18px;
            margin-top: 2px;
            margin-bottom: 2px;
        }
    }
}
